# EditorConfig для Битрикс проектов
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

# PHP файлы
[*.php]
indent_size = 4

# JavaScript файлы
[*.js]
indent_size = 2

# CSS файлы
[*.css]
indent_size = 2

# HTML файлы
[*.html]
indent_size = 2

# JSON файлы
[*.json]
indent_size = 2

# YAML файлы (конфиги)
[*.yml]
indent_size = 2

# Markdown файлы
[*.md]
trim_trailing_whitespace = false

# Исключения для минифицированных файлов
[*.min.js]
trim_trailing_whitespace = false
insert_final_newline = false

[*.min.css]
trim_trailing_whitespace = false
insert_final_newline = false